/* -------------------------
google fonts
------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ----------------------
global variable
---------------------------- */
:root {
  --bg-color: #264653;
  --text-color: #ffffff;
  --btn-bg: #e78548;
}

/* -----------------------
global css
------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.custom-btn {
  background-color: var(--btn-bg);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem !important;
  border-color: transparent;
  color: #fff;
}

/* ------------------
Navbar
-------------------- */
.nav-bg {
  background-color: var(--bg-color);
}
.nav-bg ul li {
  padding: 0 2rem;
}
.nav-bg ul li a {
  color: var(--text-color) !important;
  transform: color 0.3s ease;
}
.custom-toggoler {
  background-color: var(--text-color) !important;
  border-color: var(--text-color);
}

/*---------------------
header section
------------------------------
 */

.header-section {
  height: 92vh;
  background-color: var(--bg-color);
}
.header-section .header-text {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92vh;
}
.header-section .header-text p:nth-child(1) {
  font-size: 1.4rem;
}
.header-img {
  display: flex;
  align-items: center;
  height: 92vh;
}
.header-text .custom-btn {
  width: fit-content;
  display: inline-block;
  text-decoration: none;
}
/* -------------
Featured Bike section
---------------
*/

.featured-title p {
  color: var(--btn-bg);
}
.gray-color {
  filter: grayscale(100%);
}

/* --------------------------------
blog section
-------------------------------- */
.blog-section .bike-blog-text {
  padding: 2rem 0;
}
.blog-section .bike-blog-text p {
  line-height: 3rem;
  font-size: 1.8rem;
  margin: 1.8rem 0;
}

/* ----------------------------------
Testimonial Section
------------------------------------ */

.testimonial span {
  color: var(--btn-bg);
}
.testimonial .rating i {
  color: var(--btn-bg);
}
.testimonial .rating i:last-child {
  color: #264653 !important;
}

/* ------------------------------------
Accordion
--------------------------------------- */
.accordion span {
  color: var(--btn-bg);
}

/* ----------------------------------
Responsive Css
------------------------------------- */
@media only screen and (max-width: 767px) {
  .header-section .header-text {
    height: 40vh;
  }
  .header-img {
    height: 40vh;
  }
}
